*.png
Fire HRRR merge*.ipynb
Fire SIT merge*.ipynb
*.pyc
*.exe
*.mdb
*.accdb
*.shp
*.shx
*.cpg
*.dbf
*.prj
data/raw
data/raw/*
data/clean/fire_histories_2
data/clean/fire_histories_2/*
data/clean/fire_histories_3
data/clean/fire_histories_3/*
*evc.vrt
*aspect.vrt
*slope.vrt